<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="link-image" alt="">
    <h1>Hello my name is Muhammad Sendi Siradj Harahap</h1>
    <h2>NPM : 1706043771</h2>
    <p>Riwayat Pendidikan</p>
    <ul>
        <li>SMA Unggulan CT Foundation Medan</li>
        <li>SMPN 15 Medan </li>
        <li>SDN 060439 </li>
    </ul>
</body>
</html>
